<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h5 class="text-center mb-4 color-white">Login</h5>
            <div class="card">

                <form class="row g-3 needs-validation" novalidate [formGroup]="form">

                    <div class="row justify-content-center text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3" [ngStyle]="{'font-size':(1.5*font_size) + 'px'}" >User<span class="text-danger"> *</span></label> 
                            <input type="text" id="email" name="email" formControlName = "email" placeholder="email" onblur="validate(1)"> 
                        </div>
                    </div>


                    <div class="row justify-content-center text-left">                
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3" [ngStyle]="{'font-size':(1.5*font_size) + 'px'}" >Password<span class="text-danger"> *</span></label> 
                            <input type="password" id="password" name="password" formControlName = "password" placeholder="password" onblur="validate(2)"> 
                        </div>
                    </div>
                    
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-15"> <button type="submit" (click)="onSubmit()" class="btn-block btn-primary" [ngStyle]="{'font-size':(1.5*font_size) + 'px'}" >Login</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>